.DS_Store

#Remove Backup of TF State File
iac_tf/terraform.tfstate.backup 
iac_tf/.terraform/*
iac_tf/.terraform.lock.hcl
iac_tf/.terraform/providers/registry.terraform.io/hashicorp/aws/5.63.0/darwin_arm64/terraform-provider-aws_v5.63.0_x5
.terraform/
iac_tf/.terraform/providers/registry.terraform.io/hashicorp/aws/5.63.0/darwin_arm64/terraform-provider-aws_v5.63.0_x5
iac_tf/terraform.tfstate